

.softades-content-editor-element{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;	
}

.softades-content-editor-element > textarea:first-of-type, .usecase-bubble > textarea:first-of-type {
	background-color: inherit;
	border: none;
	outline: none;
	color: black;
	flex: 1;
	width: 100%;
	height: auto;
	overflow: hidden;
	resize: none;
}

.content-element{
	cursor: pointer;
	position: absolute;
	width: clamp(100px, 100%, 150px);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-element.icon{
	position: static;
}

.content-element.usecase-bubble {
	border-radius: 50px;
	border: 2px outset black;
	padding: 15px;
	background-color: rgb(250, 250, 250);
	resize: none;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* width: fit-content; */
	/* min-width: 120px; */
	/* min-width: 100%; */
	
	min-height: 30px;
}

.usecase-bubble.draggable {
	cursor: grab;
}

.content-element.association-arrow{
	background-color: black;
	/* min-width: 100px; */
	min-height: 2px
}

/* .usecase-bubble:active {
	cursor: grabbing;
} */

